body{
    padding: 0 20px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    background-image: url(https://wallpapercave.com/wp/wp6865998.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .page-title {
    font-size: 32px;
    font-weight: bold;
    padding-top: 10px;
    color: rgb(227, 225, 225);

  }
  
  .nav {
    display: flex;
  }
  
  .nav a:hover {
    background-color: lightgrey;
  }
  
  .nav-items {
    border: none;
    padding: 10px 20px;
    align-items: center;
    border-radius: 16px;
    margin: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    background-color: #3ac162;
  }

.content-title{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content{
    display: flex;
    margin-top: 30px;
}

.content-left{
    box-sizing: border-box;
    width: 50%;
}

.img {
  max-width: 100%; 
}

div {
  text-align: left; 
}

button {
  padding: 10px 20px; 
  background-color: #3ac162; 
  color: white; 
  border: none; 
  cursor: pointer; 
  margin-top: 5%;
  border-radius: 5px;
}

button:hover {
  background-color: #2e9f51; 
}


.content-image{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.image{
    width:auto;
    height: auto;
}

.span{
    font-style: italic;
    color: rgb(141, 140, 140);
    padding-top: 20px;
}

.point {
    display: flex;
    margin-top: 70px;
    padding-bottom: 35px;
    position: relative;
    border-bottom: 3px solid lightgrey;
}

.nomor {
    width: 40px; 
    height: 40px; 
    background-color: lightgrey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: darkgrey;
}

#circle{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.nama{
    font-weight: bold;
}

.address{
    font-style:italic ;
    color: grey;
}

.bawah {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 50px;
    font-weight: bold;
    color: rgb(44, 43, 43);
}


.deskripsi{
    padding-bottom: 35px;
}

.bundaran_1,
.bundaran_2,
.bundaran_3 {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    text-align: left;
    margin-bottom: 5%;
}

.bulat1,
.bulat2,
.bulat3 {
    background-color: lightgrey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: rgb(134, 134, 134);
    font-weight: lighter;
    margin-top: 15px;
    width: 20px; 
    height: 10px; 
    font-size: 24px;
}

.desk_1,
.desk_2,
.desk_3 {
padding-left: 20px;
color: rgb(140, 140, 140);
font-weight: lighter;
}

.bold{
  font-weight: bold;
  color: rgb(44, 43, 43);
}


.content-right{
    box-sizing: border-box;
    width: 50%;
}

.kepala{
    padding-bottom: 35px;
    font-family:'Nunito', sans-serif;
    font-weight: bold;
}
  
.contactUs {
    font-weight: bold;
    font-size: 35px;
    font-family:'Nunito', sans-serif;
  }
  
  .penjelas {
    color: rgb(168, 167, 167);
    font-weight: lighter;
    padding-top: 3%;
  }
  
.head{
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
  width: 94%;
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="date"],
.form select,
.form textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 5%;
}

.form select {
  width: 100%; 
}

.form textarea {
  resize: vertical;
}

.form input[type="submit"] {
  background-color: #3ac162;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.form input[type="submit"]:hover {
  background-color: #2e9f51; 
}

.form label[for="hobby"] {
  display: block;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .page-title{
    font-size: 1em;
}

  .nav-items {
    font-size: 1em; 
    padding: 10px 20px; 
    border-radius: 10px; 
    margin: 5px; 
    align-items: center;
  }

  .title{
    text-align: center;
  }

  .content {
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
  }
  .content-left{
    width: 100%;
  }

  .img{
    width: 100%;
    height: auto;
  }

  .content-right{
    width: 100%;
  }

  .contactUs {
    font-size: 24px; 
  }

  .penjelas {
    font-size: 16px; 
  }

  .bulat1,
    .bulat2,
    .bulat3 {
        width: 130px;
        height: 45px;
        font-size: 24px;
    }

    .bawah {
      margin-bottom: 35px; 
      padding-bottom: 35px;
  }
  
}
